.quick-links-icon {
    display: block;
    position: relative;
}

.social a:last-child::before {
    content: url("../img/footer_icons/mail.png");
    position: absolute;
    left: 0;
    top: 0;
}

.social a:nth-child(3)::before {
    content: url("../img/footer_icons/rss.svg");
    position: absolute;
    left: 0;
}

/*.social a:nth-child(3) {*/
/*margin-left: 5px;*/
/*}*/

.social a:nth-child(2)::before {
    content: url("../img/footer_icons/facebook.svg");
    position: absolute;
    left: 0;
}

.social a:first-child::before {
    content: url("../img/footer_icons/twitter-footer.svg");
    position: absolute;
    left: 0;
}

.footer-nav ul li:nth-child(2n) {
    border-right: 1px solid #767676;
    border-left: 1px solid #767676;
}