@media screen and (max-width: 640px) {
	
}

body {
    background: #ebebeb;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.hide-text {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.dropdown {

    width: 150px;
}

.dropdown-select {
    -webkit-appearance: none;
    background: none;
    border: 0 none;
}

.dropdown-select:focus {
    outline: none;
}
.search-form {
    padding-top: 10px;
    width: 300px;
    position: relative;
    align-self: center;
}

.search-field {
    padding-left: 20px;
    width: 100%;
    height: 40px;
    border: none;
    padding-right: 20px;
}


header p {
    font-size: 0.6875rem;
}

.purple-text {
    color: #8f33c4;
}

a {
    text-decoration: none;
}

.header-top-container a:link {
    color: #c7c7c7;
}

.search-button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    background: url(../content/header_icons/clock.svg) center no-repeat;

    top: 12px;
    right: 2px;
    width: 30px;
    -webkit-appearance: none;
    border: none;
    height: 36px;
    border-image: none;
}

.search-button:active, .search-button:visited, .search-button:focus {
    outline: 0 none;
}

.search-button:hover {
    filter: url(#purpleFilter);
}




.header-top-container {
    margin-right: auto;
    margin-left: auto;
    padding: 50px 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #9c9c9c;
    max-width: 940px;

}

.links-dropdown-form-wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 585px;
    flex-wrap: wrap;
}
.quick-links {
    padding-top: 10px;
    align-self: center;
    font-size: 10px;
    width: 95px;
    position: relative;

}

.quick-links a:hover {
    font-weight: 900;
    color: #8f33c4;
}

.quick-links::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #9c9c9c;
    left: 100%;
    top: 8px;
    position: absolute;
}

.dropdown {
    padding-top: 10px;
    align-self: center;
    font-size: 10px;
    position: relative;
}

.dropdown .dropdown-select {
    font-size: 10px;
    width: 100%;
    cursor: pointer;
}

.dropdown-select:hover {
    font-weight: bold;
    color: #8f33c4;
}

.logo-label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.logo-label-container .logo-text {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}

.logo-label-container .logo-description {
    -webkit-margin-before: 0.0em;
    font-style: italic;
}

.logo-text {
    color: #6719aa;
    font-weight: 900;
    font-size: 2.5em;

}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

* {
    margin: 0;
    padding-right: 0;
}

header {
    padding-top: 1px;
    height: 230px;
    
}

.main-nav {
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    display: flex;
    height: 115px;

}

.main-nav a {
    display: block;
    color: #7d7d7d;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-bar-link {
    font-size: 14px;
    font-weight: 900;

}

.main-nav a:hover {
    color: #701dbb;
    /*apply filter to nested svg*/
    filter: url(#purpleFilter);
}
.main-nav ul {
    -webkit-padding-start: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.main-nav ul li {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-sizing: border-box;
    background: #ffffff;
    width: 16.666666%;
    border-right: 1px solid #ffffff;
    border-bottom: 3px solid #8f33c4;
    text-align: center;
    height: 115px;
}

.main-nav ul li:last-child {
    border-right: none;
}

.main-nav ul li:hover {
    border-bottom: 8px solid #8f33c4;
    height: 125px;
    position: relative;
    bottom: 10px;
}

.hero-container {
    background: url(../content/hero.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container .hero-search {
    width: 138px;
	height: 138px;
	background-image: url(../content/search.png);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
.hero-container .hero-search:hover {
	transform: scale(1.2);
}

.map-features {
	padding-top: 50px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.map-features-descr {
    padding-bottom: 20px;
    text-align: center;
}

.map-features-header {
    font-size: 2.0em;
    text-align: center;
    letter-spacing: 5px;
    padding: 0 10px;
    font-weight: normal;
}
.map-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    
}

.map{
    display: block;
    width: 100%;
    padding-bottom: 20px;
	
}
.column-features-container {

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    max-width: 940px;
    padding-bottom: 50px;

}

.column-feature-icon {
	display: block;
	align-self: center;


}

.column-layout:nth-child(2)::before {
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    border-radius: 2px;
    background: #6d6d6d;
    position: absolute;
    top: 10%;
    left: -30%;
}

.column-layout:nth-child(2)::after {
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    border-radius: 2px;
    background: #6d6d6d;
    position: absolute;
    top: 10%;
    left: 70%;
}

.column-header {
    letter-spacing: 2px;
    padding-top: 55px;
    padding-bottom: 23px;
    font-size: 1.6em;
    font-weight: normal;
}

.column-feature-icon-wrapper {
	height: 76px;
	align-self: center;
	display: flex;
	justify-content: center;
}
.column-layout {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    max-width: 293px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.screen-features {
    padding-top: 40px;
    background:  #222222 url(../content/screen-features.png) no-repeat center bottom;
    height: 520px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.screen-features-container {
    max-width: 650px;
    padding: 300px 10px 80px;

}

.screen-features-container h2 {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 5px;
    padding-bottom: 25px;
    font-weight: normal;
}

.screen-features-container p {
    text-align: center;

}

.team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.team-container .header {
    font-size: 2.0em;
    letter-spacing: 3px;
    font-weight: normal;
    position: relative;
    max-width: 380px;
    text-align: center;
}

.team-container .header::after {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background: #dedede;
    border-radius: 3px;
    top: 50%;
    right: -75%;
    overflow: hidden;

}

.team-container .header::before {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background: #dedede;
    border-radius: 3px;
    top: 50%;
    left: -75%;
    overflow: hidden;
}

.team-container .description {
    padding-bottom: 20px;
}
.slider {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.slider-slides {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.profile-photo {
    position: relative;

    
}

.profile-name {
    padding-left: 10px;
}

.occupation {
    padding-left: 10px;
}

.profile-photo .social-profile-link {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: white url(../content/twitte.svg);
}


.gray-text {
    color: #717171;
}

.slider-nav a {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #979797;
    margin-right: 2px;
}

.slider-nav a:last-child {
    margin-right: 0;
}

.slider-nav a:hover{
    background-color: #8f33c4;
}

.slider-nav {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 50px;
}

.articles {
    width: 100%;
    padding-top: 20px;
    color: #8f33c4;
    display: flex;

    justify-content: center;
    border-bottom: 5px solid #914dcf;
}
.article {
	display: flex;
	flex-wrap: wrap;
	
}
 .article-container {
     max-width: 940px;
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-bottom: 20px;
} 

.article {
    box-sizing: border-box;
    position: relative;
    padding: 60px 50px;
    background-color: #ffffff;
    width: 49%;
}

.article .content-text {
    color: #949494;
}

.article .header {
    color: #2d2d2d;
    padding-bottom: 20px;
    font-weight: normal;
}

.article .sub-header {
    padding-bottom: 40px;
}


.full-width-article {
    margin-top: 20px;
    width: 100%;
    align-self: center;
}

.expand-button {
    background: url(../content/expand.svg);
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
}

.expand-button:hover {
    fill: #dkfjk;
}

footer {
    background-color: #373737;
    display: flex;
    justify-content: center;
}

.footer-container {
    padding: 0 10px 240px;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-container {
    display: flex;
    align-items: flex-end;
    width: 250px;
}

.footer-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-top .logo-label-container {
    padding-top: 20px;
    padding-left: 10px;
    width: 190px;
}

.footer-top .logo-text {
    color: white;
    font-size: 1.9em;
}

.footer-top .logo-label-container .logo-description {
    font-size: 0.75em;
    color: #d9d9d9;

}
.footer-logo {
    display: block;
    width: 50px;
    height: 50px;
}

.table-wrapper {
    padding-top: 20px;
    align-self: center;
    flex-grow: 2;
    max-width: 400px;
}

.footer-nav {
    align-self: center;
    display: table;
    flex-grow: 2;
    width: 100%;
}

.footer-nav ul {
    display: table-row;
    border-spacing: 0;
    width: 100%;
    padding-top: 20px;
    -webkit-padding-start: 0;
}

.footer-nav ul li {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0;
    width: 50px;
    height: 22px;
}

.footer-nav ul li a:hover {

    border-bottom: 4px solid #8f33c4;
}

.footer-nav ul li a {
    color: #d9d9d9;
    box-sizing: border-box;
    font-size: 0.8em;
    font-weight: 900;
    height: 27px;
}

.footer-nav ul li:first-child {
    text-align: left;
}

.footer-nav ul li:last-child {
    text-align: right;
}

.footer a {
    color: white;
}

.footer-middle {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
}

.footer-middle .description {
    padding-top: 20px;
    font-size: 0.8em;
    max-width: 450px;
    color: #d9d9d9;
}

.footer-middle .social {
    padding-top: 20px;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    max-width: 400px;
}

.social a {
    position: relative;
    font-weight: 900;
    font-size: 0.75em;
    display: block;
}

.useful-links {
    font-size: 0.8em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.useful-links a {
    display: block;
    padding-right: 10px;
}

.copyrights {
    font-size: 0.7em;
    padding-top: 10px;
    color: #565656;
    width: 80%;
    align-self: flex-start;
}

