body {
    background: #ebebeb;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.hide-text {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}
.search-form {
    width: 32.5%;
    position: relative;
}

.search-field {
    width: 100%;
    height: 40px;
}


header p {
    font-size: 0.6875rem;
}

.purple-text {
    color: #8f33c4;
}

a {
    text-decoration: none;
}

.header-top-container a:link {
    color: #c7c7c7;
}

.search-button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 2px;
    right: 2px;
    background: url(../content/icons/search.png) no-repeat center;
    position: absolute;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 36px;
    -webkit-appearance: none;
    border: none;
    height: 36px;
    border-image: none;
}

.search-button:active, .search-button:visited, .search-button:focus {
    outline: 0 none;
}

.search-button:hover {
    
}

.header-top-container a:hover {
    color: #8f33c4;
}

.header-top-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #9c9c9c;
    width: 60%;
    height: 50px;
}
.quick-links {
    align-self: center;
    font-size: 0.6875rem;
}

.dropdown {
    align-self: center;
    font-size: 0.6875rem;
}
.logo-label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.logo-label-container h1 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}
.logo-label-container p {
    -webkit-margin-before: 0.0em;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

* {
    margin: 0;
    padding: 0;

}

header {
    padding-top: 1px;
    height: 230px;
    
}

.main-nav {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 60%;
    display: flex;
    height: 115px;

}

.main-nav ul {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-nav ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    box-sizing: border-box;
    background: #ffffff;
	width: 16.62%;
    border-right: 1px solid gray;
    border-bottom: 3px solid #8f33c4;
    text-align: center;
    height: 115px;
}

.main-nav ul li:hover {
    border-bottom: 8px solid #8f33c4;
    height: 125px;
    position: relative;
    bottom: 10px;
}

.hero-container {
    background: url(../content/hero.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container .hero-search {
    width: 138px;
	height: 138px;
	background-image: url(../content/search.png);
}

.map-features {
	padding-top: 50px;
	padding-bottom: 70px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.map-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    
}

.map{
    display: block;
    width: 100%;

	
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.column-features-container {
    
    display: flex;
	flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.column-feature {
	display: block;
	align-self: center;

}
.column-feature-wrapper {
	height: 76px;
	align-self: center;
	display: flex;
	justify-content: center;
}
.column-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 32%;
}


.screen-features {
    background-color: #222222;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background:  #222222 url(../content/screen-features.png) no-repeat center bottom;
    height: 470px;
}

.screen-features-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    
    
}

.screen-features-container h2 {
    
}

.screen-features-container p {
    
}

.team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.slider {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.slider-slides {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.profile-photo {
    position: relative;
    width: 100%;
    
}

.profile-photo a {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.gray-text {
    color: #717171;
}

.slider-nav a {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #979797;
    margin-right: 2px;
}

.slider-nav a:last-child {
    margin-right: 0;
}

.slider-nav a:hover{
    background-color: #8f33c4;
}

.slider-nav {
    display: flex;
    margin-top: 20px;
    width: 50px;
}

.articles {
    width: 100%;
    margin-top: 20px;
    color: #8f33c4;
    display: flex;

    justify-content: center;
    border-bottom: 5px solid #914dcf;
}
.article {
	display: flex;
	flex-wrap: wrap;
	
}
 .article-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
} 

.article {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    width: calc(100% - 50% - 10px);
}

.article p {
    color: #949494;
}

.article h3 {
    margin-bottom: 20px;
}

.h2 {
    color: #252525;
    margin-top: 30px;
    margin-bottom: 10px;
}

.full-width-article {
    margin-top: 20px;
    width: 100%;
    align-self: center;
}

.expand-button {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: #373737;
    display: flex;
    justify-content: center;
}

.footer-container {
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: 5vh;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-logo {
    display: block;
    width: 30%;
}

.footer-logo-nav-container .footer-nav {
    display: flex;
    width: 48%;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-nav ul li {
    width: 20%;
    display: block;
    height: 30px;
    box-sizing: border-box;
}

.footer-nav ul li:hover {
    border-bottom: 4px solid #8f33c4;
}

.footer-nav ul li a {
    display: block;
    text-align: center;
    border-right: 1px solid white;
}

.footer a {
    color: white;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.footer-middle p {
    width: 50%;
}

.footer-middle .social {
    width: 48%;
    display: flex;
    justify-content: flex-start;
}

.social a {
    display: block;
    width: calc(100%/6);
}

.useful-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.useful-links a {
    display: block;
    margin-right: 10px;
}

.copyrights {
    color: #565656;
    width: 80%;
    align-self: flex-start;
}

