@font-face {
    font-family: Nexa;
    src: url("../fonts/Nexa Light.otf");
}

@font-face {
    font-family: Helventica;
    src: url("../fonts/Helvetica.otf");
}

@font-face {
    font-family: NexaBold;
    src: url("../fonts/Nexa Bold.woff");
}

@font-face {
    font-family: NexaBlack;
    src: url("../fonts/nexa-black.ttf");
}

@font-face {
    font-family: NexaBook;
    src: url("../fonts/nexa-book.ttf");
}
body {
    background: #ebebeb;
    color: white;
    font-size: 16px;
    min-width: 320px;
    font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}

.link-visited:visited {
    color: #cdcdcd;
}
* {
    margin: 0;
    padding-right: 0;
}

.quick-links__icon {
    display: block;
    position: relative;
}
.links-dropdown-wrapper {
    display: flex;
    width: 275px;
    height: 25px;
    align-items: center;
    align-self: center;
}
.hide-text {
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}

.dropdown__select {
    color: #c7c7c7;
    font-size: 0.78rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 0 none;
    height: 100%;
    font-family: "NexaBold", sans-serif;
    width: 100%;
    cursor: pointer;
}

.dropdown__select::-ms-expand {
    display: none;
}

.dropdown__select:focus {
    outline: none;
}

.dropdown {
    width: 150px;
    height: 25px;
    padding-left: 20px;
    align-self: center;
    position: relative;

}

.dropdown::after {
    content: url("../img/header_icons/gray-scroll.png");
    width: 8px;
    height: 13px;
    right: 0;
    top: 3px;
    pointer-events: none;
    position: absolute;
}

.dropdown__select:hover {
    color: #8f33c4;
}

.dropdown:hover::after {
    content: url("../img/header_icons/scroll.png");
}

.dropdown__option {
    font-size: 0.78rem;
}
.search-form {
    font-size: 0.78rem;
    padding-top: 10px;
    width: 300px;
    position: relative;
    align-self: center;
}

.search-form__field {
    padding-left: 20px;
    width: 100%;
    height: 46px;
    border: none;
    padding-right: 20px;
}


.purple-text {
    color: #8f33c4;
}

.travel-guide{
	background: url("../img/nav-bar-icons/world.svg") no-repeat center 20px;
}

.service {
	background: url("../img/nav-bar-icons/service.svg") no-repeat center 20px;
}

.about{
	    background: url("../img/nav-bar-icons/about.svg") no-repeat center 20px;
}

.tour{
	background: url("../img/nav-bar-icons/tour.svg") no-repeat center 20px;
}

.how_to {
	background: url("../img/nav-bar-icons/how_to.svg") no-repeat center 20px;
}

.contact {
	background: url("../img/nav-bar-icons/contact.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(1):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-world.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(2):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-service.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(3):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-about.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(4):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-tour.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(5):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-how_to.svg") no-repeat center 20px;
}

.main-nav__tile:nth-child(6):hover .main-nav__link {
    background: url("../img/nav-bar-icons/color-contact.svg") no-repeat center 20px;
}

.search-form__button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    background: url(../img/header_icons/clock.svg) center no-repeat;
    top: 21px;
    right: 11px;
    width: 23px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    height: 23px;
    border-image: none;
    padding: 0 0;
}

.search-form__button:active, .search-form__button:visited, .search-form__button:focus {
    outline: 0 none;
}

.search-form__button:hover {
    background: url("../img/header_icons/color-clock.svg");
}

.main-nav__text {
    overflow: hidden;
}

.header-top-container {
    margin-right: auto;
    margin-left: auto;
    padding: 38px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #9c9c9c;
    max-width: 940px;

}

.links-dropdown-form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 585px;
    flex-wrap: wrap;
}
.quick-links {
    font-family: "NexaBold", sans-serif;
    align-self: center;
    font-size: 0.78rem;
    width: 95px;
    height: 25px;
    vertical-align: middle;
    position: relative;

}

.quick-links__icon {
    padding-top: 6px;
    color: #c7c7c7;
    text-decoration: none;
}

.quick-links__icon:link {
    color: #c7c7c7;
}

.quick-links__icon:hover {
    color: #8f33c4;
}

.quick-links::after {
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    background: #9c9c9c;
    left: 100%;
    top: 0;
    position: absolute;
}

.quick-links__icon::after {
    content: url("../img/header_icons/point.svg");
    width: 11px;
    height: 17px;
    position: absolute;
    top: 2px;
    z-index: 10000;
    right: 18px;
    display: block;
}

.quick-links__icon:hover::after {
    content: url("../img/header_icons/color-point.svg");
}

.logo__label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-left: 10px;

}

.logo__label-container .logo__title {
    color: #6719aa;
    font-size: 2.5rem;
    font-family: "NexaBlack", sans-serif;
    position: absolute;
    top: -47px;
    left: 8px;
}

.logo__label-container .logo__slogan {
    font-style: italic;
    font-size: 0.75rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.page-header {
    padding-top: 1px;
    height: 228px;
    text-decoration: none;

}
.main-nav {
    font-weight: bold;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    display: flex;
    height: 115px;
    position: relative;

}

.main-nav__link {
    text-decoration: none;
    display: block;
    color: #7d7d7d;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 53px;
    padding-bottom: 10px;
}

.main-nav__text {
    font-size: 1rem;
    padding-top: 7px;
}

.main-nav__link:hover {
    color: #701dbb;
}

.main-nav .main-nav__nav-list {

    display: flex;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding-left: 0;
}

.main-nav .main-nav__tile {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 5px solid #8f33c4;
    text-align: center;
    height: 110px;
}

.main-nav .main-nav__tile:last-child {
    border-right: none;
}

.main-nav .main-nav__tile:hover {
    border-bottom: 13px solid #8f33c4;
    height: 125px;
    position: relative;
    bottom: 13px;
}

.main-nav__tile:nth-child(1), .main-nav__tile:nth-child(2), .main-nav__tile:nth-child(4) {
    width: 18.08%;
}

.main-nav__tile:nth-child(3), .main-nav__tile:nth-child(5), .main-nav__tile:nth-child(6) {
    width: 15.244%;
}

.hero {
    background: #8f33c4 url(../img/hero.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero__search-button {
    width: 14.3%;
    height: 25.6%;
    min-width: 100px;
    background-color: #8f33c4;
    background: url(../img/search.png) no-repeat center;
    background-size: contain;
}

.map-features {
    padding-top: 48px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.map-features__description {
    letter-spacing: 1.5px;
    font-size: 0.75rem;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "NexaBold", sans-serif;
}

.map-features__header {
    font-weight: normal;
    font-size: 2.0rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 0 6px 0 15px;
    font-family: "NexaBook", sans-serif;
	-webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    margin: 0 0;
}

.map-features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    
}

.map{
    display: block;
    width: 100%;
}
.column-features-container {
    padding-top: 17px;
    font-family: NexaBook, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    padding-bottom: 50px;

}

.content-column__icon {
	display: block;
	align-self: center;

}

.content-column .content-column__content-text {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.375rem;
}

.content-column .content-column__content-text + .content-column__content-text {
    padding-top: 5px;
}

.column-feature-icon-wrapper::before {
    content: '';
    display: block;
    width: 140px;
    height: 3px;
    border-radius: 2px;
    background: #6d6d6d;
    position: absolute;
    top: 10%;
    left: -23%;
}

.content-column:first-child .content-column__icon {
    padding-left: 20px;
}

.column-feature-icon-wrapper::after {
    content: '';
    display: block;
    width: 140px;
    height: 3px;
    border-radius: 2px;
    background: #6d6d6d;
    position: absolute;
    top: 10%;
    left: 77%;
}

.content-column__header {
    padding-top: 45px;
    padding-bottom: 10px;
    font-size: 1.6em;
    font-weight: normal;
}

.column-feature-icon-wrapper {
	height: 76px;
	align-self: center;
	display: flex;
	justify-content: center;
}

.content-column {
    padding-right: 20px;
    padding-left: 2px;
    padding-bottom: 50px;
    width: 298px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.content-column:last-child {
    padding-right: 0;
}

.screen-features {
    background: #222222 url(../img/Imac-screen.png) no-repeat center 55px;
    height: 525px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.screen-features__figure {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 910px;
    padding-bottom: 30px;
    position: relative;
}

.screen-features-container__feature-image:first-child {
    padding-left: 17px;
}

.screen-features-container__feature-image:last-child {
    padding-left: 5px;
}

.screen-features-container {
    max-width: 960px;
    padding: 190px 10px 10px;
    display: flex;
    flex-direction: column;

}

.screen-features-container__hidden-image {
    display: none;
}

.screen-features-container__second-feature::after {
    content: '';
    position: absolute;
    display: block;
    width: 19.3%;
    height: 3px;
    background: #dedede;
    border-radius: 3px;
    top: 45%;
    right: 17%;
    overflow: hidden;
}

.screen-features-container__second-feature::before {
    content: '';
    position: absolute;
    display: block;
    width: 19.3%;
    height: 3px;
    background: #dedede;
    border-radius: 3px;
    top: 45%;
    left: 18.8%;
    overflow: hidden;
}

.screen-features-container__second-feature {
    padding-right: 3px;
}

.screen-features-container__header {
    padding-top: 22px;
    word-spacing: 5px;
    font-family: NexaBook, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    padding-bottom: 18px;
    font-weight: normal;
}

.screen-features-container__description {
    font-size: 0.9375rem;
    font-family: NexaBold, sans-serif;
    text-align: center;
    color: #8145bd;
}

.team {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.team-container__header {
    padding-left: 3px;
    padding-top: 13px;
    font-weight: normal;
    font-family: NexaBook, sans-serif;
    font-size: 2.25rem;
    position: relative;
    text-align: center;
    word-spacing: 3px;
}

.team-container__header::after {
    content: '';
    position: absolute;
    display: block;
    width: 53%;
    height: 2px;
    background: #dedede;
    border-radius: 3px;
    top: 62%;
    right: -63%;

}

.team-container__header::before {
    content: '';
    position: absolute;
    display: block;
    width: 53%;
    height: 2px;
    background: #dedede;
    border-radius: 3px;
    top: 62%;
    left: -63%;
}

.team-container__description {
    padding-top: 8px;
    font-size: 0.9375rem;
    font-family: "NexaBold", sans-serif;
    padding-bottom: 20px;
}
.slider {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.slides {
    padding-top: 12px;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.slide__profile-photo {
    position: relative;

    
}

.slide__profile-name {
    padding-top: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 6px;
}

.slide__occupation {
    font-size: 0.875rem;
    padding-left: 10px;
}

.slide__profile-photo .slide__social-profile-link {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: white url(../img/twitte.svg);
}

.slide__profile-photo .slide__social-profile-link:hover {
    filter: brightness(1.15);
}


.gray-text {
    color: #717171;
}

.slider__nav-item {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #979797;
    margin-right: 6px;
}

.slider__nav-item:last-child {
    margin-right: 0;
}

.slider__nav-item:hover {
    background-color: #8f33c4;
}

.slider-nav {
    display: flex;
    padding-top: 33px;
    padding-bottom: 20px;
    width: 60px;
}

.articles {
    width: 100%;
    padding-top: 27px;
    color: #8f33c4;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #914dcf;
}
.article {
    max-width: 460px;
	display: flex;
	flex-wrap: wrap;
	
}
 .article-container {
     max-width: 940px;
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-bottom: 20px;
} 

.article {
    box-sizing: border-box;
    position: relative;
    padding: 57px 54px 90px 50px;
    background-color: #ffffff;
    width: 49%;
}

.article__content-text {
    color: #949494;
    font-size: 0.79rem;
    line-height: 1.4rem;
}

.article__header {
    font-size: 1.9375rem;
    font-family: "NexaBold", sans-serif;
    color: #2d2d2d;
    padding-bottom: 12px;
    font-weight: normal;
}

.article__sub-header {
    font-size: 0.91rem;
    line-height: 1.82em;
    font-family: "NexaBold", sans-serif;
    padding-bottom: 28px;
}


.full-width-article {
    margin-top: 20px;
    max-width: 100%;
    padding-top: 62px;
    width: 100%;
    align-self: center;
    max-height: 100%;
    padding-bottom: 93px;
    margin-bottom: 15px;

}

.full-width-article .article__header {
    padding-bottom: 17px;
}

.article__expand-button {
    background: url(../img/expand.png);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.article__expand-button:hover {
    filter: brightness(1.15);
}

.page-footer {
    background-color: #373737;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 240px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-top .logo__title {
    color: white;
    padding-top: 3px;
}
.footer-top {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav {
    font-family: "NexaBold", sans-serif;
    flex-grow: 2;
    align-self: flex-start;
    max-width: 403px;
    min-width: 300px;
    width: 49%;
}

.footer-nav__tile:nth-child(2n) {
    border-right: 1px solid #767676;
    border-left: 1px solid #767676;
}

.social__link {
    text-decoration: none;
    color: white;
}

.social__link:last-child::before {
    content: url("../img/footer_icons/mail.png");
    position: absolute;
    left: 0;
    top: 0;
}

.social__link:nth-child(3)::before {
    content: url("../img/footer_icons/rss.svg");
    position: absolute;
    left: 0;
}

.social__link:nth-child(2)::before {
    content: url("../img/footer_icons/facebook.svg");
    position: absolute;
    left: 0;
}

.social__link:first-child::before {
    content: url("../img/footer_icons/twitter-footer.svg");
    position: absolute;
    left: 0;
}

.footer-nav__nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-spacing: 0;
    width: 100%;
    padding-top: 12px;
    padding-left: 0;
}

.footer-nav__tile {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0;
    height: 15px;

}

.footer-nav__link:hover {

    border-bottom: 4px solid #8f33c4;
}

.footer-nav__link {
    text-decoration: none;
    color: #d9d9d9;
    box-sizing: border-box;
    font-size: 0.75rem;
}

.footer-nav__tile:nth-child(1), .footer-nav__tile:nth-child(3), .footer-nav__tile:nth-child(5) {

    width: 73px;
    box-sizing: border-box;
}

.footer-nav__tile:nth-child(2), .footer-nav__tile:nth-child(4) {

    width: 92px;
    box-sizing: border-box;
}

.footer-nav__tile:first-child {
    text-align: left;
}

.footer-nav__tile:last-child {
    text-align: right;
}

.footer-middle {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    padding-bottom: 43px;
}

.footer-middle .footer-middle__description {
    font-family: Helventica, sans-serif;
    padding-top: 20px;
    font-size: 0.73rem;
    word-spacing: 1px;
    line-height: 1.45rem;
    max-width: 49%;
    min-width: 300px;
    color: #d9d9d9;
}

.footer-middle .social {
    padding-top: 23px;
    min-width: 300px;
    width: 403px;
    display: flex;
    justify-content: flex-start;
    max-width: 43%;
}

.social__link {
    position: relative;
    font-size: 0.7rem;
    display: block;
    padding-left: 18px;
    padding-right: 35px;
}

.useful-links {
    font-family: Helventica, sans-serif;
    font-size: 0.75rem;
    width: 100%;
    display: flex;
	
    justify-content: flex-start;
    padding-bottom: 10px;
}

.useful-links__link {
	text-decoration: none;
    display: block;
    padding-right: 17px;
    color: white;
}

.copyrights {
    font-family: Helventica, sans-serif;
    font-size: 0.7rem;
    line-height: 1.2rem;
    padding-top: 10px;
    color: #565656;
    width: 85%;
    align-self: flex-start;
}

.footer-bottom {
    width: calc(100% - 20px);
}

