@media screen and (max-width: 955px) {
    .column-feature-icon-wrapper::before {
        display: none;
    }

    .column-feature-icon-wrapper::after {
        display: none;
    }
}

@media screen and (max-width: 943px) {
    .team-container .article__header::after {
        display: none;
    }

    .column-features-container {
        justify-content: space-around;
    }

    .content-column {
        padding: 0;
    }

    .team-container .article__header::before {
        display: none;
    }


}

@media screen and (max-width: 844px) {
    .header-top-container {
        justify-content: center;
    }

    .links-dropdown-form-wrapper {
        justify-content: space-around;
    }

    .header-top-container {
        padding-top: 15px;
    }
}

@media screen and (max-width: 640px) {

    .footer-nav ul li:nth-child(2n) {
        border-right: 0 none;
        border-left: 0 none;
    }

    .footer-container {
        padding-bottom: 60px;
    }

    .article-container {
        flex-direction: column;
    }

    .article {
        width: 100%;
        max-width: 640px;
        margin-top: 10px;
        padding: 30px 30px;
    }

    .screen-features {
        background: #222222 url("../img/iphone.png") no-repeat center bottom;
    }

    .map {
        display: none;
    }

    .column-features-container {
        padding-top: 20px;
    }

    .screen-features .article__header {
        font-size: 1.5em;
    }

    .screen-features-container {
        max-width: 275px;
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 20px;
    }

    .screen-features__figure {
        width: 280px;
        flex-direction: column;
        padding-bottom: 10px;
        height: 250px;
        justify-content: space-around;
        position: relative;
    }

    .screen-features__figure img {
        width: 60px;

    }

    .screen-features__figure img:nth-child(1) {
        align-self: center;
    }

    .screen-features__figure img:nth-child(4) {
        position: absolute;
        top: 70%;
        left: 72%;
    }

    .screen-features-container__second-feature::after {
        display: none;
    }

    .screen-features-container__second-feature::before {
        display: none;
    }

    .screen-features__figure .screen-features-container__second-feature {
        align-self: flex-start;
        padding-left: 10px;
    }

    .screen-features__figure .screen-features-container__second-feature img {
        vertical-align: middle;
        width: 75px;

    }

    .screen-features-container__hidden-image {
        display: block;
        padding-bottom: 0;

    }
}

@media screen and (max-width: 960px) and (min-width: 641px) {
    .screen-features {
        background: #222222 url("../img/iphone-portrait.png") no-repeat center bottom;
        height: 360px;

    }

    .screen-features__figure img {
        width: 76px;
    }

    .screen-features__figure {
        width: 600px;
        padding-bottom: 10px;
    }

    .screen-features .screen-features-container {
        max-width: 600px;
        padding: 50px 60px 40px 50px;
        justify-content: flex-end;
    }

    .screen-features .article__header {
        font-size: 1.5em;
        letter-spacing: 3px;
    }

    .screen-features__figure .screen-features-container__second-feature img {

        width: 85px;

    }

    .content-column:nth-child(2)::before {
        display: none;
    }

    .content-column:nth-child(2)::after {
        display: none;
    }

    .team-container .article__header::after {
        display: none;
    }

    .team-container .article__header::before {
        display: none;
    }

    .header-top-container {
        justify-content: center;
    }

    .links-dropdown-form-wrapper {
        justify-content: space-around;
    }

    .header-top-container {
        padding-top: 15px;
    }

    .footer-container {
        padding-bottom: 120px;
    }
}
