body {
    background: #ebebeb;
    color: white;
    font-family: 'PT Sans', sans-serif;
    width: 1550px;
}

.search-form {
    width: 32.5%;
    position: relative;

}

.search-field {
    width: 100%;
    height: 40px;
}

.search-form .search-field + input {

}
.search-form input{

    padding: 18px;
}
.logo .logo-wrapper {
    height: 50px;
}
header p {
    font-size: 0.6875rem;
}

.purple-text {
    color: #8f33c4;
}

a {
    text-decoration: none;
}

.header-top-container a:link {
    color: #c7c7c7;
}

.search-button {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 36px;
    -webkit-appearance: none;
    background: none;
    border: none;
    height: 36px;
    border-image: none;
}

.search-button:active, .search-button:visited, .search-button:focus {
    outline: 0 none;
}

.search-label {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 2px;
    right: 2px;
    background: url(../content/icons/search.png) no-repeat center;

}

.search-label::before {
    /*display: block;*/
    /*content: "";*/
    /*width: 36px;*/
    /*height: 36px;*/
    /*position: absolute;*/
    /*!*background-image: url(../content/icons/search.png);*!*/
    /*!*background-position: center;*!*/
    /*!*background-repeat: no-repeat;*!*/
    /*top: 0;*/
    /*left: 0;*/
    /*filter: url(#purple-filter);*/
    /*z-index: -1;*/
}

.search-label:hover {
    filter: url(#purple-filter);

}

.header-top-container a:hover {
    color: #8f33c4;
}

.header-top-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #9c9c9c;
    width: 60%;
    height: 50px;
}
.quick-links {
    align-self: center;
    font-size: 0.6875rem;
}

.dropdown {
    align-self: center;
    font-size: 0.6875rem;
}
.logo-label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.logo-label-container h1 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}
.logo-label-container p {
    -webkit-margin-before: 0.0em;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 1px;
    height: 230px;
    width: 100%;
}

nav[class="main-nav"] {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 60%;
    display: flex;
    height: 115px;

}

nav[class="main-nav"] ul {
    display: flex;
    width: 100%;
    height: 100%;
}

nav[class="main-nav"] ul li {
    box-sizing: border-box;
    background: #ffffff;
    display: block;
    width: calc(100%/6);
    border-right: 1px solid gray;
    border-bottom: 3px solid #8f33c4;
    text-align: center;
    height: 115px;
}

nav[class="main-nav"] ul li:hover {
    border-bottom: 8px solid #8f33c4;
    height: 125px;
    position: relative;
    bottom: 10px;
}

.hero-container {
    background: url(../content/hero.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 538px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container a img {
    width: 100%;
    height: 100%;
}

.hero-container a {
    width: 140px;
}

.map-features {
    background-color: #2d2d2d;
    height: 765px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.map-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-bottom: 50px;
}

.map-features-container img {
    display: block;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.column-features-container {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.column-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 32%;
}

.column-features-container .column-layout h3 {
    align-self: flex-start;
    margin-bottom: 10px;
}



.screen-features {
    background-color: #222222;
    display: flex;
    height: 525px;
    justify-content: center;
    align-items: flex-end;
}

.screen-features-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 1225px;
    background: url(../content/screen-features.png) no-repeat center;
    height: 470px;
    background-size: cover;
}

.screen-features-container h2 {
    margin-bottom: 10px;
}

.screen-features-container p {
    margin-bottom: calc(50vh / 2 - 100px);
}

.team {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.profile-photo {
    position: relative;
}

.profile-photo a {
    display: block;
    position: absolute;
    bottom: 7%;
    right: 6%;
}

.gray-text {
    color: #717171;
}

.slider-nav a {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #979797;
    margin-right: 2px;
}

.slider-nav a:last-child {
    margin-right: 0;
}

.slider-nav a:hover{
    background-color: #8f33c4;
}

.slider-nav {
    display: flex;
    margin-top: 20px;
    width: 50px;
}

.articles {
    width: 100%;
    margin-top: 20px;
    color: #8f33c4;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #914dcf;
}

.article-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.half-width-article {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    width: calc(100% - 50% - 10px);
}

.half-width-article p {
    color: #949494;
}

.half-width-article h3 {
    margin-bottom: 20px;
}

.half-width-article h2 {
    color: #252525;
    margin-top: 30px;
    margin-bottom: 10px;
}

.full-width-article {
    margin-top: 20px;
    width: 100%;
    align-self: center;
}

.expand-button {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    width: 100%;
    height: 50vh;
    background-color: #373737;
    display: flex;
    justify-content: center;
}

.footer-container {
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: 5vh;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-logo {
    display: block;
    width: 30%;
}

.footer-logo-nav-container .footer-nav {
    display: flex;
    width: 48%;
}

.footer-nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-nav ul li {
    width: 20%;
    display: block;
    height: 30px;
    box-sizing: border-box;
}

.footer-nav ul li:hover {
    border-bottom: 4px solid #8f33c4;
}

.footer-nav ul li a {
    display: block;
    text-align: center;
    border-right: 1px solid white;
}

.footer a {
    color: white;
}

.footer-description-and-social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.footer-description-and-social p {
    width: 50%;
}

.footer-description-and-social .social {
    width: 48%;
    display: flex;
    justify-content: flex-start;
}

.social a {
    display: block;
    width: calc(100%/6);
}

.useful-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.useful-links a {
    display: block;
    margin-right: 10px;
}

.copyrights {
    color: #565656;
    width: 80%;
    align-self: flex-start;
}

